@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --overlay: 0 0% 0% / 0.4;
    --panel: 0 0% 100%;
    --panel-translucent: 0 0% 100% / 0.8;
    --surface: 0 0% 100% / 0.9;

    --accent-1: 60 20% 99%;
    --accent-2: 47 53% 97%;
    --accent-3: 45 38% 94%;
    --accent-4: 46 33% 90%;
    --accent-5: 43 29% 86%;
    --accent-6: 41 28% 80%;
    --accent-7: 38 27% 72%;
    --accent-8: 36 27% 62%;
    --accent-9: 36 20% 49%;
    --accent-10: 36 20% 45%;
    --accent-11: 36 20% 37%;
    --accent-12: 38 16% 20%;

    --accent-a1: 60 89% 18% / 0.012;
    --accent-a2: 47 100% 35% / 0.051;
    --accent-a3: 45 97% 28% / 0.087;
    --accent-a4: 46 98% 25% / 0.134;
    --accent-a5: 43 98% 23% / 0.185;
    --accent-a6: 41 100% 22% / 0.259;
    --accent-a7: 38 100% 22% / 0.357;
    --accent-a8: 36 99% 21% / 0.487;
    --accent-a9: 36 100% 16% / 0.604;
    --accent-a10: 36 99% 14% / 0.64;
    --accent-a11: 36 100% 11% / 0.706;
    --accent-a12: 37 98% 4% / 0.832;

    --gray-1: 60 20% 99%;
    --gray-2: 60 8% 97%;
    --gray-3: 60 7% 95%;
    --gray-4: 60 5% 92%;
    --gray-5: 60 4% 89%;
    --gray-6: 60 4% 86%;
    --gray-7: 48 5% 82%;
    --gray-8: 51 5% 72%;
    --gray-9: 60 3% 54%;
    --gray-10: 60 2% 49%;
    --gray-11: 60 3% 38%;
    --gray-12: 48 8% 12%;

    --gray-a1: 60 89% 18% / 0.012;
    --gray-a2: 60 78% 9% / 0.028;
    --gray-a3: 60 96% 7% / 0.059;
    --gray-a4: 60 84% 5% / 0.087;
    --gray-a5: 60 93% 4% / 0.114;
    --gray-a6: 60 87% 5% / 0.146;
    --gray-a7: 48 92% 6% / 0.193;
    --gray-a8: 51 94% 5% / 0.291;
    --gray-a9: 60 97% 3% / 0.475;
    --gray-a10: 60 96% 2% / 0.522;
    --gray-a11: 60 94% 2% / 0.632;
    --gray-a12: 48 92% 1% / 0.891;

    --danger-1: 0 100% 99%;
    --danger-2: 0 100% 98%;
    --danger-3: 0 100% 97%;
    --danger-4: 0 100% 95%;
    --danger-5: 0 90% 92%;
    --danger-6: 0 81% 88%;
    --danger-7: 359 74% 82%;
    --danger-8: 359 69% 74%;
    --danger-9: 358 75% 59%;
    --danger-10: 358 67% 55%;
    --danger-11: 358 65% 47%;
    --danger-12: 351 63% 24%;

    --danger-a1: 0 100% 51% / 0.012;
    --danger-a2: 0 100% 51% / 0.032;
    --danger-a3: 0 100% 50% / 0.063;
    --danger-a4: 0 100% 50% / 0.102;
    --danger-a5: 0 100% 48% / 0.153;
    --danger-a6: 0 100% 45% / 0.224;
    --danger-a7: 359 100% 43% / 0.318;
    --danger-a8: 359 100% 41% / 0.436;
    --danger-a9: 358 100% 43% / 0.718;
    --danger-a10: 358 100% 40% / 0.761;
    --danger-a11: 358 100% 37% / 0.836;
    --danger-a12: 351 100% 17% / 0.91;

    --accent-contrast: 0 0% 100%;
    --focus: var(--accent-a8);
    --radius: 0.75;
  }

  .dark {
    --background: 60 3% 6%;
    --overlay: 0 0% 0% / 0.6;
    --panel: 60 4% 9%;
    --panel-translucent: 60 4% 11% / 0.7;
    --surface: 0 0% 0% / 0.25;

    --accent-1: 45 10% 8%;
    --accent-2: 45 8% 10%;
    --accent-3: 50 9% 13%;
    --accent-4: 45 10% 16%;
    --accent-5: 42 11% 18%;
    --accent-6: 39 12% 23%;
    --accent-7: 39 13% 30%;
    --accent-8: 35 15% 45%;
    --accent-9: 36 20% 49%;
    --accent-10: 36 22% 57%;
    --accent-11: 35 30% 71%;
    --accent-12: 36 25% 88%;

    --accent-a1: 45 99% 4% / 0.209;
    --accent-a2: 42 100% 50% / 0.013;
    --accent-a3: 50 100% 77% / 0.052;
    --accent-a4: 45 98% 81% / 0.087;
    --accent-a5: 42 96% 83% / 0.122;
    --accent-a6: 39 98% 84% / 0.178;
    --accent-a7: 39 99% 85% / 0.269;
    --accent-a8: 35 99% 86% / 0.468;
    --accent-a9: 36 100% 82% / 0.55;
    --accent-a10: 36 100% 85% / 0.628;
    --accent-a11: 35 100% 89% / 0.775;
    --accent-a12: 36 98% 97% / 0.901;

    --gray-1: 60 4% 9%;
    --gray-2: 60 2% 10%;
    --gray-3: 60 3% 15%;
    --gray-4: 60 2% 18%;
    --gray-5: 45 4% 21%;
    --gray-6: 45 3% 24%;
    --gray-7: 48 3% 29%;
    --gray-8: 43 4% 37%;
    --gray-9: 47 4% 42%;
    --gray-10: 47 4% 50%;
    --gray-11: 53 5% 68%;
    --gray-12: 60 6% 93%;

    --gray-a1: 60 98% 5% / 0.084;
    --gray-a2: 60 99% 85% / 0.013;
    --gray-a3: 60 85% 93% / 0.07;
    --gray-a4: 60 98% 86% / 0.104;
    --gray-a5: 45 95% 94% / 0.139;
    --gray-a6: 45 91% 95% / 0.174;
    --gray-a7: 48 92% 95% / 0.226;
    --gray-a8: 43 96% 96% / 0.321;
    --gray-a9: 47 98% 95% / 0.377;
    --gray-a10: 47 96% 96% / 0.464;
    --gray-a11: 52 98% 98% / 0.667;
    --gray-a12: 60 88% 100% / 0.927;

    --danger-1: 350 24% 10%;
    --danger-2: 354 30% 12%;
    --danger-3: 353 40% 16%;
    --danger-4: 352 47% 19%;
    --danger-5: 354 50% 22%;
    --danger-6: 354 57% 26%;
    --danger-7: 354 66% 33%;
    --danger-8: 358 75% 47%;
    --danger-9: 358 75% 59%;
    --danger-10: 359 84% 67%;
    --danger-11: 358 100% 76%;
    --danger-12: 350 100% 91%;

    --danger-a1: 0 100% 49% / 0.031;
    --danger-a2: 354 100% 50% / 0.074;
    --danger-a3: 353 99% 56% / 0.152;
    --danger-a4: 352 100% 57% / 0.208;
    --danger-a5: 354 99% 58% / 0.265;
    --danger-a6: 354 100% 57% / 0.351;
    --danger-a7: 354 100% 57% / 0.503;
    --danger-a8: 358 100% 56% / 0.806;
    --danger-a9: 358 100% 65% / 0.888;
    --danger-a10: 359 100% 71% / 0.944;
    --danger-a11: 358 100% 76% / 1;
    --danger-a12: 350 100% 91% / 1;
  }
}

@layer base {
  body {
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  button {
    @apply cursor-default;
  }
}
